*{
	margin: 0;
    padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
	box-sizing: border-box;
    min-height: 100vh; 
}
html{
    background-color: #e4e4aa;
    background-image: linear-gradient(62deg, #e4e4aa 33%, #ffd783 100%);
}
nav{
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 94%);
    text-align: center;
    font-size: 1.875rem;
}
li{
    margin-top: 0.8rem;
    display: inline-block;
    margin-bottom: 0.8rem;
    background-image: linear-gradient(90deg, #ffffff 62%, #fff700 88%);
    background-clip: text;
    -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.content{
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}
.biografia{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.biografia p{
    width: 45%;
    margin-top: 6rem;
    float: right;
}
.foto_dina{
    width: 45%;
    border-radius: 50%;
    margin-top: 2rem;
}
a{
    text-decoration: none;
    color: white;
}
.oficinas{
    display: inline-block;
    margin-top: 4rem;
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 57%);
    width: 100%;
}
.marcacao{
    width: 30rem;
    float: left;
}
.barra{
    font-size: 3rem;
    color: white;
    margin-top: 1rem;
    float: left;
}
.titulo{
    font-size: 3rem;
    color: white;
    margin-top: 1.2rem;
    float: right;
}
.oficina{
    width: 80%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}
.oficinas img{
    border-radius: 50%;
    width: 10rem;
}
.oficinas a{
    text-decoration: none;
    color: white;
}
.oficinas a:hover{
    text-decoration: none;
    color: black;
}
button{
    width: 16rem;
    font-size: 1.50rem;
    height: 3.2rem;
    background-color: black;
    margin-top: 5%;
    border-style: none;
    color: #f04e23;
    border-radius: 0.9rem;
}
button:hover{
    background-color: white;
    color: #f04e23;
}
td,tr{
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 20rem;
    margin-right: 2rem;
}
footer{
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 94%);
    display: inline-block;
    width: 100%;
    text-align: center;
}
footer li{
    margin-right: 5rem;
}
footer ul{
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 144vh) {
    li{
        color: white;
    }
    .content{
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .biografia p{
        width: 80%;
        float: left;
        text-overflow: clip;
        text-align: justify;
        font-size: 1rem;
        padding: 1.6rem;
    }
    .biografia{
        width: auto;
    }
    .foto_dina{
        width: 80%;
        border-radius: 50%;
        padding: 1.6rem;
        margin-top: -1rem;
        margin-bottom: -3rem;
    }
    .marcacao{
        width: 11.8rem;
        float: left;
    }
    .barra{
        font-size: 80%;
    }
    .titulo{
        font-size: 80%;
    }
    .oficinas{
        margin-top: -1rem;
    }
    .oficina{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    button{
        font-size: 1rem;
        background-color: black;
        border-style: none;
        color: #f04e23;
        border-radius: 5%;
    }
    table {
        border: 0;
        width: 100%;
    }  
    table tr {
        margin-top: -3.6rem;
    }
    table td {
        margin-bottom: 0.8rem;
        display: block;
        font-size: 0.6em;
        text-align: center;
    }
}