*{
	margin: 0;
    padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size:1.5rem;
	box-sizing: border-box;
    min-height: 100vh; 
    min-width: 48vh;
}
html{
    background-color: #e4e4aa;
    background-image: linear-gradient(62deg, #e4e4aa 33%, #ffd783 100%);
    width: 100%;
}
nav{
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 94%);
    text-align: center;
    font-size: 1.875rem;
}
li{
    margin-top: 0.8rem;
    display: inline-block;
    margin-bottom: 0.8rem;
    background-image: linear-gradient(90deg, #ffffff 62%, #fff700 88%);
    background-clip: text;
    -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.content{
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}
.biografia{
    width: 80%;
    display: inline-block;
    padding: 2%;
}
.biografia p{
    width: 45%;
    margin-top: 2rem;
    float: right;
}
.foto_dina{
    width: 45%;
    display:inline-block;
    vertical-align:top;
    border-radius: 50%;
    margin-top: 2rem;
}
a{
    text-decoration: none;
    color: white;
}
.oficinas{
    display: inline-block;
    margin-top: 4rem;
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 57%);
    min-width: 128vh;
    width: 100%;
}
.oficinas img{
    border-radius: 50%;
    width: 70%;
}
.oficinas a{
    text-decoration: none;
    color: white;
}
.oficinas a:hover{
    text-decoration: none;
    color: black;
}
.barra{
    font-size: 8rem;
    display: inline-block;
    float: left;
    color: white;
}
.titulo{
    font-size: 5rem;
    margin-top: 2.3rem;
    color: white;
}
.oficina{
    width: 80%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
button{
    width: 8rem;
    font-size: 1.50rem;
    height: 3.2rem;
    background-color: black;
    margin-top: 5%;
    border-style: none;
    color: #f04e23;
    border-radius: 0.9rem;
}
button:hover{
    background-color: white;
    color: #f04e23;
}
table{
    
}
th,tr{
    text-align: center;
    padding: 1.875rem;
    font-size: 1.75rem;
}
footer{
    background-color: #ff4500;
    background-image: linear-gradient(160deg, #ff4500 0%, #f5c800 94%);
    display: inline-block;
    width: 100%;
    text-align: center;
    min-width: 128vh;
}
footer li{
    margin-right: 5rem;
}
footer ul{
    margin-left: auto;
    margin-right: auto;
}